/* input[type='radio']:checked {
  background-color: black;
} */
/* .hidden-visually {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
} */

/* label {
    display: inline-block;
    margin-right: 10px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    background-color: #f0f0f0;
    color: #333;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  label.active {
    background-color: #007bff;
    color: #fff;
  } */